.container {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.content {
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  height: 66.7rem;
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}
